<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Paperros</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <link rel="icon" href="/v1/img/LogoCirculo.png" sizes="16x16">
  <link href="/admin/css/style.css" rel="stylesheet">
  <link href="/v1/css/bootstrap.min.css" rel="stylesheet">
  <link href="/admin/css/styleAdmin.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>

  <!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-header navbar-light shadow-sm py-3 py-lg-0 px-3 px-lg-0">
  <h10 class="aTitulo ms-lg-5">
      <h1Titulo class="m-0 text-uppercase"> <img class="ImagenPerfil" src="/v1/img/LogoCirculo.png" height="60" width="60"></img>
          ADMINISTRADOR</h1Titulo>
      </h10>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse" id="navbarCollapse">
  <div class="ms-auto py-0">
    <a class="aBarra" href="AdminUsuarios">Usuarios</a>
    <a class="aBarra" href="AdminReportes">Reportes</a>
    <a class="aBarra" href="AdminInformes">Informes</a>
    <a class="aBarra" href="salir">Salir</a>
    <a ><img class="ImagenPerfil" src="<%= foto %>" height="60" width="60"></img></a>
</div>

</nav>

<!-- Navbar End -->
<div id="content">
    <div id="topbar">
        <h1>ADMINISTRADOR: USUARIOS</h1>
    </div>
    <table id="userTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo Electrónico</th>
            <th>ADMIN</th>
        </tr>
        </thead>
        <tbody>
        <% usuario.forEach((usuario) => { %>
            <tr>
            <td><%= usuario.id %></td>
            <td><%= usuario.nombre %></td>
            <td><%= usuario.telefono %></td>
            <td>
                <button id="btnVer_<%= usuario.id %>" onclick="showUserInfo('<%= usuario.id %>')">Ver</button>
                <div id="myModal_<%= usuario.id %>" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeModal('<%= usuario.id %>')">&times;</span>
                    <h2>Informacion del usuario</h2>
                    <p class="descriptiontext"><strong>id: </strong><%= usuario.id %></p>
                    <p class="descriptiontext"><strong>nombre: </strong><%= usuario.nombre %></p>
                    <p class="descriptiontext"><strong>municipio: </strong><%= usuario.municipio %></p>
                    <p class="descriptiontext"><strong>direccion: </strong><%= usuario.direccion %></p>
                    <p class="descriptiontext"><strong>ubicacion: </strong><%= usuario.ubicacion %></p>
                    <p class="descriptiontext"><strong>edad: </strong><%= usuario.edad %></p>
                    <p class="descriptiontext"><strong>País: </strong><%= usuario.pais %></p>
                </div>
                </div>
                <button id="btnBorrar_<%= usuario.id %>" onclick="confirmDelete('<%= usuario.id %>')">Borrar</button>
            </td>
            </tr>
        <% }) %>
        </tbody>
    </table>
    </div>

    <script src="/admin/js/admin.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/v1/lib/easing/easing.min.js"></script>
    <script src="/v1/lib/waypoints/waypoints.min.js"></script>
    <script src="/v1/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

</body>

</html>