<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs"); %>

<body>

    <%- include("./partials/menu.ejs"); %>

    <%- include("./partials/aside.ejs"); %>

    <h1 class="text-uppercase text-titulo text-center">AÑADIR PERRO</h1>
    <p class="fs-4 text-parrafo text-center">
        Adjunta la informacion de tu mascota para poder registrarla en Paperros
    </p>
    <%# Formulario %>
    <form action="" id="anadirPerro">
        <%# Email (ID) %>
        <input type="hidden" id="id" name="id" class="form-control" value="<%= email %>">
        <div class="container ContainerAñadirPerro">
            <div class="row">
                <div class="col-lg-6">
                    <%# Imagen %>
                    <div class="form-group"> 
                        <%# Raza %>
                        <div class="form-group ">
                            <select class="" id="raza" name="raza" multiple>
                                <% perros.forEach((element => { %>
                                    <option value="<%= element.nombre %>" data-imagen="<%= element.imagen %>"><%= element.nombre %></option>   
                                <% })) %>
                            </select>
                        </div>                       
                        <%# Descripción %>
                        <div class="form-group">
                            <textarea id="descripcion" name="descripcion" class="InputDescripcion" 
                            placeholder="Descripción del perro"></textarea>
                        </div>
                        <%# Vacunas %>
                        <label class="TextoMapa">Seleccione las vacunas de su mascota</label>
                        <% vacunas.sort().forEach((vacuna) => { %>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="<%= vacuna %>" id="<%= vacuna %>" name="vacunas">
                                    <label class="form-check-label" for="<%= vacuna %>">
                                        <%= vacuna %>
                                    </label>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
                <div class="col-lg-6">
                    
                    <%# Nombre %>
                    <div class="form-group">
                        <input class="InputsAñadirPerro" type="text" id="nombre" name="nombre"
                            class="form-control" placeholder="Nombre" required>
                    </div>
                    <%# Estatura %>
                    <div class="form-group">
                        <input class="InputsAñadirPerro" type="number" id="estatura" name="estatura"
                            class="form-control " placeholder="Estatura (Cm)" required>
                    </div>
                    <%# Peso %>
                    <div class="form-group">
                        <input class="InputsAñadirPerro" type="number" id="peso" name="peso" class="form-control"
                            placeholder="Peso (Kg)" required>
                    </div>
                    <%# Comportamiento %>
                    <div class="form-group">
                        <input class="InputsAñadirPerro" type="text" id="comportamiento" name="comportamiento"
                            class="form-control" placeholder="Comportamiento" required>
                    </div>
                    
                    </div>
            </div>
            <div class="row ">
                <div class="col-lg-12">
                    <div class="form-group a-center">
                        <button class="BotonCancelarPerro"><a class="aBotonHref" href="/v1/dueno/MisPerros">Cancelar</a></button>
                        <%# Submit %>
                        <%# Submit %>
                        <button class="BotonSubirPerro">Subir</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <%# Firebase %>
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-firestore.js"></script>

    <script src="/v1/js/anadirPerros.js"></script>

    <%- include("./partials/footer.ejs"); %>
</body>

</html>