<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs"); %>

    <body>

        <%- include("./partials/menu.ejs"); %>

        <%- include("./partials/aside.ejs"); %>

        <%- include("./partials/MisPerros.ejs"); %>

        <%- include("./partials/footer.ejs"); %>

        <%# Firebase %>
        <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-firestore.js"></script>
        
        <script src="/v1/js/alertaborrar.js"></script>
        <script src="/v1/js/eliminarPerros.js"></script>

        

    </body>

</html>