<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs"); %>
<link href="/admin/css/style.css" rel="stylesheet">
<body>

    <button id="download-button">Generate PDF</button>

    <div id="renderizar">
        <nav class="navbar navbar-expand-lg bg-header navbar-light shadow-sm py-3 py-lg-0 px-3 px-lg-0">
            <a href="https://paperrosfront-production.up.railway.app/" class="aTitulo ms-lg-5">
                <h1Titulo class="m-0 text-uppercase"> <img src="/homepage/img/LogoCirculo.png" height="60" width="60"></img>
                    PaPerros</h1Titulo>
            </a>
        </nav>
            <%# Perfil del dueño %>
        <div class="container-profile">
            <div class="profile-image">
                <!--img class="profile-image" src="<%= foto %>" height="300px" alt="Foto de perfil">-->
                <div class="profile-details">
                    <br>
                    <br>
                    <%# Nombre del perfil %>
                    <h2 class="text-parrafo text-center nametext">
                        <%= nombre %>
                    </h2>
                    <%# Dirección %>
                    <% if ( email==idPerfil ) { %>
                    <p class="descriptiontext"><strong>País: </strong>
                        <%= perfil.pais %>
                    </p>
                    <p class="descriptiontext"><strong>Municipio: </strong>
                        <%= perfil.municipio%>
                    </p>
                    <p class="descriptiontext"><strong>Dirección: </strong>
                        <%= perfil.direccion %>
                    </p>
                    <p class="descriptiontext"><strong>Edad: </strong>
                        <%= perfil.edad %>
                    </p>
                    <p class="descriptiontext"><strong>Correo Electrónico:</strong>
                        <%= email %>
                    </p>
                    <p class="descriptiontext"><strong>Teléfono:</strong>
                        <%= perfil.telefono %>
                    </p>
                    <p class="descriptiontext"><strong>Cuenta de transferencia:</strong></p>

                    <% } else { %>

                    <a href="/v1/dueno/chat" class="boton-profile">Chatea</a>

                    <a href="/v1/dueno/reportes" class="btn-danger">Reportar</a>

                    <% }; %>

                    <p class="misperrostitle">MIS PERROS: </p>

                    <%# Perros %>
                    <table id="userTable">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Peso</th>
                            <th>Estarura</th>
                            <th>Raza</th>
                            <th>Comportamiento</th>
                            <th>Vacunas</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% perfil.perros.forEach((element)=>{ %>
                            <tr>
                                <td><%= element.nombre %></td>
                                <td><%= element.peso %></td>
                                <td><%= element.estatura %></td>
                                <td><%= element.raza %></td>
                                <td><%= element.comportamiento %></td>
                                <td><%= element.vacunas %></td>
                            </tr>
                        <% }) %>
                        </tbody>
                    </table>
                    </div>
                    <br>


                    <p class="historialtitle">HISTORIAL DE PASEOS: </p>
                    <%# Paseos %>
                     <table id="userTableReportePaseo">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Autor</th>
                            <th>Descripción</th>
                            <th>Nombre destino</th>
                            <th>Destino</th>
                            <th>Estado</th>
                            <th>Horario</th>
                            <th>Metodo de pago</th>
                            <th>Paseador</th>
                            <th>Perros</th>
                            <th>Precio</th>
                            <th>Tipo</th>
                        </tr>
                        </thead>
                        <tbody>
                            <% paseo.forEach((element)=>{ %>
                                <%# Mostrar solo los paseos personalizados que creó el usuario%>
                                <% if((element.autor == email) && (element.tipo == "personalizado")){ %>
                                    <tr>
                                        <td><%= element.id %></td>
                                        <td><%= element.autor %></td>
                                        <td><%= element.descripcion %></td>
                                        <td><%= element.nombre_destino %></td>
                                        <td><%= element.destino._latitude %>, <%= element.destino._latitude %></td>
                                        <td><%= element.estado %></td>
                                        <td><%= element.hora_inicio %> - <%= element.hora_fin %></td>
                                        <td><%= element.medio_de_pago %></td>
                                        <td>
                                            <%= element.paseador.nombre!=undefined ? element.paseador.nombre : '(Aún no hay paseador)' %>
                                        </td>
                                        <td>
                                            <% element.perro.forEach((element)=>{ %>
                                                <%= element.nombre %>
                                            </br>
                                            <% }) %>
                                        </td>
                                        <td>$<%= element.precio %></td>
                                        <td><%= element.tipo %></td>
                                    </tr>
                                <% } %>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
    <p class="card-text" id="footerPdf">Generado por <%= perfil.nombre %> (<%= email %>) el dia </p>
        </div>
    </div>
    <br>
    <br>

    <%# Scripts %>
    <script src="/v1/js/html2pdf.js"></script>
    <script>
        // Obtener fecha actual
        const fechaActual = new Date();
        // Obtener componentes de la fecha
        const year = fechaActual.getFullYear();
        const month = fechaActual.getMonth() + 1;
        const day = fechaActual.getDate();
        const hours = fechaActual.getHours();
        const minutes = fechaActual.getMinutes();
        const seconds = fechaActual.getSeconds();

        // Asignar datos del generador del informe en el footer
        const footer = document.getElementById('footerPdf');
        footer.innerHTML += ` ${fechaActual}`

        // Botón para generar informe
        const button = document.getElementById('download-button');

        function generatePDF() {
            // Elemento que se convertira a pdf
            const element = document.getElementById('renderizar');
            // Designar nombre del archivo y guardarlo en el dispositivo
            html2pdf().set({
                filename: `<%= perfil.nombre %>Reporte${day}-${month}-${year}_${hours}-${minutes}-${seconds}.pdf`,
                pagebreak: { mode: 'avoid-all' }, // Opcional: Evitar saltos de página no deseados
                jsPDF: { orientation: 'landscape' } // Establecer la orientación en horizontal
            }).from(element).save();
        }

        // El botón para generar reporte
        button.addEventListener('click', generatePDF);

    </script>
</body>
</html>