<% if ( rol=="dueno" ) { %>
    <%# Crear Paseo dueño %>
    <h1 class="text-uppercase text-titulo text-center">CREAR PASEO</h1>
    <p class="fs-4 text-parrafo text-center">
        Adjunta la informacion de tu paseo para poder publicarla.
    </p>
    <form action="/v1/dueno/CrearPaseo" method="post">
        <div class="container ContainerAñadirPerro">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <%# Datos del mapa %>
                            <label class="TextoMapa">Selecciona el lugar de paseo en el mapa:</label>
                            <%# Mapa %>
                        <div id="map" class="mapaConfig" alt="Ubicación de dueño"></div>
                            <%# Mapa: latitud %>
                        <input type="hidden" id="paseoLatitude" name="paseoLatitude" required>
                            <%# Mapa: Longitud %>
                        <input type="hidden" id="paseoLongitude" name="paseoLongitude" required>

                        <%# Datos del dueño %>
                        <input type="hidden" id="duenoEmailPaseo" name="duenoEmailPaseo" value="<%= email %>" required>
                        <input type="hidden" id="duenoFotoPaseo" name="duenoFotoPaseo" value="<%= foto %>" required>
                        <input type="hidden" id="duenoNombrePaseo" name="duenoNombrePaseo" value="<%= nombre %>" required>
                        <input type="hidden" id="duenoLatitude" name="duenoLatitude" value="<%= usuario.ubicacion._latitude %>" required>
                        <input type="hidden" id="duenoLongitude" name="duenoLongitude" value="<%= usuario.ubicacion._longitude %>" required>

                                            <%# Datos del paseador %>
                                                <!--<input type="hidden" id="paseadorIdPaseo" name="paseadorIdPaseo" value="<%= email %>">
                        <input type="hidden" id="paseadorImgPaseo" name="paseadorImgPaseo" value="<%= foto %>">
                        <input type="hidden" id="paseadorNombrePaseo" name="paseadorNombrePaseo" value="<%= nombre %>">-->

                                                <%# Datos del paseador %>
                                                    <!--<input type="hidden" id="perroImgPaseo" name="perroImgPaseo" value="lilajpg">
                        <input type="hidden" id="perroLocalizacionPaseo" name="perroLocalizacionPaseo" value="0x0">
                        <input type="hidden" id="perroNombrePaseo" name="perroNombrePaseo" value="lila">-->

                                                    <!--  <input type="hidden" id=""> -->
                                                    <div id="map"></div>
                    </div>
                    <div class="form-group">

                    <% usuario.perros.forEach(function(element) { %>
                        <label>
                            <input type="checkbox" name="perros" value="<%= JSON.stringify(element) %>">
                            <%= element.nombre %>
                        </label>
                        <br>
                    <% }); %>
                        
                </div>

                </div> 
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input class="InputsAñadirPerro" type="text" id="tituloPaseo" name="tituloPaseo"
                                class="form-control" placeholder="Titulo" required>
                        </div>
                        <div class="form-group">
                            <input class="InputsAñadirPerro" type="text" id="descripcionPaseo" name="descripcionPaseo"
                                class="form-control" placeholder="Descripción" required>
                        </div>
                        <!-- INPUT NOMBRE DEL DESTINO -->
                        <div class="form-group">
                            <input class="InputsAñadirPerro" type="text" id="nombreDestinoPaseo"
                                name="nombreDestinoPaseo" class="form-control" placeholder="Lugar del paseo" required>
                        </div>
                        <br>
                        <br>
                        <!-- INPUT PRECIO --> 
                        <div class="form-group">
                            <div class="input-group">
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-light" onclick="disminuirPrecio()">-</button>
                              </span>
                              <input class="form-control" type="text" id="precioPaseo" name="precioPaseo" value="10000" readonly>
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-light" onclick="aumentarPrecio()">+</button>
                              </span>
                            </div>
                          </div>
                        <!-- INPUT METODO DE PAGO -->
                        <div class="form-group">
                            <input class="InputsAñadirPerro" type="text" id="medioPagoPaseo" name="medioPagoPaseo"
                                class="form-control" placeholder="Metodo para realizar el pago" required>
                        </div>
                        
                        <div class="form-group ">
                            <label class="TextoMapa">Selecciona una fecha para el paseo</label>
                            <input class="InputsAñadirPerro" type="date" id="fechaPaseo" name="fechaPaseo"
                                class="form-control " placeholder="Fecha" required>
                            <label class="TextoMapa">Selecciona una hora de inicio</label>
                            <input class="InputsAñadirPerro" type="time" id="horaInicioPaseo" name="horaInicioPaseo"
                                class="form-control " placeholder="Hora inicio" required>
                            <label class="TextoMapa">Selecciona una hora de finalizacion</label>
                            <input class="InputsAñadirPerro" type="time" id="horaFinPaseo" name="horaFinPaseo"
                                class="form-control " placeholder="Hora fin" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-12">
                    <div class="form-group a-center">
                        <a href="/MisPerros">
                            <button class="BotonCancelarPerro">Cancelar</button>
                        </a>
                        <input type="submit" class="BotonSubirPerro"></input>
                    </div>
                </div>
            </div>
        </div>
    </form>
<% } else { %>
    <%# Crear Paseo paseador %>
    <h1 class="text-uppercase text-titulo text-center">CREAR PASEO</h1>
    <p class="fs-4 text-parrafo text-center">
        Adjunta la informacion de tu paseo para poder publicarla.
    </p>
    <form action="/v1/paseador/CrearPaseo" method="post">
        <div class="container ContainerAñadirPerro">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <%# Datos del mapa %>
                            <label class="TextoMapa">Selecciona el lugar de paseo en el mapa:</label>
                            <%# Mapa %>
                        <div id="map" class="mapaConfig" alt="Ubicación de dueño"></div>
                            <%# Mapa: latitud %>
                        <input type="hidden" id="paseoLatitude" name="paseoLatitude" required>
                            <%# Mapa: Longitud %>
                        <input type="hidden" id="paseoLongitude" name="paseoLongitude" required>

                        <%# Datos del dueño %>
                        <input type="hidden" id="paseadorEmailPaseo" name="paseadorEmailPaseo" value="<%= email %>" required>
                        <input type="hidden" id="paseadorFotoPaseo" name="paseadorFotoPaseo" value="<%= foto %>" required>
                        <input type="hidden" id="paseadorNombrePaseo" name="paseadorNombrePaseo" value="<%= nombre %>" required>

                                            <%# Datos del paseador %>
                                                <!--<input type="hidden" id="paseadorIdPaseo" name="paseadorIdPaseo" value="<%= email %>">
                        <input type="hidden" id="paseadorImgPaseo" name="paseadorImgPaseo" value="<%= foto %>">
                        <input type="hidden" id="paseadorNombrePaseo" name="paseadorNombrePaseo" value="<%= nombre %>">-->

                                                <%# Datos del paseador %>
                                                    <!--<input type="hidden" id="perroImgPaseo" name="perroImgPaseo" value="lilajpg">
                        <input type="hidden" id="perroLocalizacionPaseo" name="perroLocalizacionPaseo" value="0x0">
                        <input type="hidden" id="perroNombrePaseo" name="perroNombrePaseo" value="lila">-->

                                                    <!--  <input type="hidden" id=""> -->
                                                    <div id="map"></div>
                    </div>
                    <div class="form-group">
                </div>
                </div> 
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input class="InputsAñadirPerro" type="text" id="tituloPaseo" name="tituloPaseo"
                                class="form-control" placeholder="Titulo" required>
                        </div>
                        <div class="form-group">
                            <input class="InputsAñadirPerro" type="text" id="descripcionPaseo" name="descripcionPaseo"
                                class="form-control" placeholder="Descripción" required>
                        </div>
                        <!-- INPUT NOMBRE DEL DESTINO -->
                        <div class="form-group">
                            <input class="InputsAñadirPerro" type="text" id="nombreDestinoPaseo"
                                name="nombreDestinoPaseo" class="form-control" placeholder="Lugar del paseo" required>
                        </div> 
                        <div class="form-group">
                            <input class="InputsAñadirPerro" type="text" id="precioPaseo" name="precioPaseo"
                                class="form-control" placeholder="Precio por perro" required>
                        </div>
                        <!-- INPUT METODO DE PAGO -->
                        <div class="form-group">
                            <input class="InputsAñadirPerro" type="text" id="medioPagoPaseo" name="medioPagoPaseo"
                                class="form-control" placeholder="Medio de pago ej: 'Nequi: 3214145869'" required>
                        </div>
                        
                        <div class="form-group ">
                            <label class="TextoMapa">Selecciona una hora de inicio</label>
                            <input class="InputsAñadirPerro" type="date" id="fechaPaseo " name="fechaPaseo"
                                class="form-control " placeholder="Fecha" required>
                            <label class="TextoMapa">Selecciona una hora de inicio</label>
                            <input class="InputsAñadirPerro" type="time" id="horaInicioPaseo" name="horaInicioPaseo"
                                class="form-control " placeholder="Hora inicio" required>
                            <label class="TextoMapa">Selecciona una hora de finalizacion</label>
                            <input class="InputsAñadirPerro" type="time" id="horaFinPaseo" name="horaFinPaseo"
                                class="form-control " placeholder="Hora fin" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-12">
                    <div class="form-group a-center">
                        <a href="/MisPerros">
                            <button class="BotonCancelarPerro">Cancelar</button>
                        </a>
                        <input type="submit" class="BotonSubirPerro"></input>
                    </div>
                </div>
            </div>
        </div>
    </form>
<% } %>

<script>
    const lugaresRecomendados = <%- JSON.stringify(lugaresRecomendados) %>;
</script>
<script>
    function aumentarPrecio() {
      const input = document.getElementById("precioPaseo");
      let precio = parseInt(input.value);
      if (precio < 100000) {
        precio += 2000;
        input.value = precio;
      }
    }
  
    function disminuirPrecio() {
      const input = document.getElementById("precioPaseo");
      let precio = parseInt(input.value);
      if (precio > 2000) {
        precio -= 2000;
        input.value = precio;
      }
    }
  </script>