<% let perroId = 0; %>
<% let paseoId = 0; %>
<% if ( rol=="dueno" ) { %>
    <%# Perfil del dueño %>
    <h1 class="display-1 text-titulo text-center">MI PERFIL</h1>

    <div class="container-profile">
        <div class="profile-image">
        <% if ( email==idPerfil ) { %>
          <p class="descriptiontext"><strong>País: </strong>
            <%= perfil.pais %>
          </p>
          <p class="descriptiontext"><strong>Municipio: </strong>
            <%= perfil.municipio%>
          </p>
          <p class="descriptiontext"><strong>Dirección: </strong>
            <%= perfil.direccion %>
          </p>
          <p class="descriptiontext"><strong>Edad: </strong>
            <%= perfil.edad %>
          </p>
          <p class="descriptiontext"><strong>Correo Electrónico:</strong>
            <%= email %>
          </p>
          <p class="descriptiontext"><strong>Teléfono:</strong>
            <%= perfil.telefono %>
          </p>
          <p class="descriptiontext"><strong>Cuenta de transferencia:</strong></p>

        <% } else { %>

          <a href="/v1/dueno/chat" class="boton-profile">Chatea</a>

          <button id="myBtnRep" class="btn-danger">Reportar</button>

          <div id="modalRep" class="modal">        
            <div class="modal-content">
              <form action="http://localhost:3001/api/Reporte/" method="post">
                <input type="hidden" name="autorReporte" value="<%= email %>">
                <input type="hidden" name="reportado" value="<%= idPerfil %>">
                <input type="text" name="descripcionReporte" placeholder="Comentario">
                <input type="submit" id="BtnReporte" placeholder="Subir">
                <button id="myBtnCerrarRep" class="btn-danger">Cerrar</button>
              </form>
            </div>
          </div>

        <% }; %>

        <p class="misperrostitle">MIS PERROS: </p>

        <%# Perros %>
        <div class="container">
          <div class="row-profile">
            <br>
            <%# Renderización de perros %>
            <% perfil.perros.forEach((element)=>{ %>
              <div class="small-container">
                <img class="profile-image-dog" src="/v1/img/logoCirculo.png" alt="Imagen">
                <p class="misperrostitle">
                  <%= element.nombre %>
                </p>
                <button id="btnAbrirPerro<%= perroId %>" class="boton-profile">Ver</button>

                <%# Modal del perro %>
                <div id="modalPerro<%= perroId %>" class="modal">
                  <div class="modal-content">
                    <h8>Nombre:</h8>
                    <h1><%= element.nombre %></h1>

                    <h8>Comportamiento:</h8>
                    <h4><%= element.comportamiento %></h4>

                    <h8>Estatura:</h8>
                    <h4><%= element.estatura %> Cm</h4>

                    <h8>Peso:</h8>
                    <h4><%= element.peso %> Kg</h4>

                    <h8>Raza:</h8>
                    <h4><%= element.raza %></h4>

                    <h8>Vacunas:</h8>
                    <h4><%= element.vacunas %></h4>
                    <!--<button id="btnClose<%= perroId %>" class="btn-danger">Cerrar</button>-->
                  </div>
                </div>
              </div>
              <% perroId ++; %>
            <% }); %>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
  <br>
  <br>
  <% if ( email==idPerfil ) { %>
    <p class="historialtitle">HISTORIAL DE PASEOS: </p>
    <%# Paseos %>
    <div class="container">
      <div class="row-profile">

        <%# Renderización de paseos %>
        <% paseo.forEach((element)=>{ %>
          <% perroEncontrado = false; %>
          <% let perroDueno = element.perro.find((perro) => perro.email === email); %>
          <% if (perroDueno && !perroEncontrado && (element.tipo == "personalizado")) { %>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card1">
              <div class="card-body">
                <p class="card-text"><%= element.titulo %></p>
                <p class="card-text">Precio del servicio: $<%= element.precio %>
                </p>
                <p class="card-text">Estado del servicio: <%= element.estado %>
                </p>
                <a href="#" class="boton-profile">Detalles</a>
              </div>
            </div>
          </div>
          <% } %>
        <% }); %>
      </div>
    </div>
  </div>
  <% } %>
  <% if ( email==idPerfil ) { %>
    <a href="/v1/dueno/reporte"><button id="generate-pdf-btn">Generar reporte</button></a>
<% } %>
<% } else { %>
<%# Perfil del paseador %>

<h1 class="display-1 text-titulo text-center">MI PERFIL</h1>

    <div class="container-profile">
        <div class="profile-image">
        <% if ( email==idPerfil ) { %>
          <p class="descriptiontext"><strong>País: </strong>
            <%= perfil.pais %>
          </p>
          <p class="descriptiontext"><strong>Municipio: </strong>
            <%= perfil.municipio%>
          </p>
          <p class="descriptiontext"><strong>Dirección: </strong>
            <%= perfil.direccion %>
          </p>
          <p class="descriptiontext"><strong>Edad: </strong>
            <%= perfil.edad %>
          </p>
          <p class="descriptiontext"><strong>Correo Electrónico:</strong>
            <%= email %>
          </p>
          <p class="descriptiontext"><strong>Teléfono:</strong>
            <%= perfil.telefono %>
          </p>
          <p class="descriptiontext"><strong>Cuenta de transferencia:</strong></p>

        <% } else { %>

          <a href="/v1/dueno/chat" class="boton-profile">Chatea</a>

          <button id="myBtnRep" class="btn-danger">Reportar</button>

          <div id="modalRep" class="modal">        
            <div class="modal-content">
              <form action="http://localhost:3001/api/Reporte/" method="post">
                <input type="hidden" name="autorReporte" value="<%= email %>">
                <input type="hidden" name="reportado" value="<%= idPerfil %>">
                <input type="text" name="descripcionReporte" placeholder="Comentario">
                <input type="submit" id="BtnReporte" placeholder="Subir">
                <button id="myBtnCerrarRep" class="btn-danger">Cerrar</button>
              </form>
            </div>
          </div>

        <% }; %>
      </div>
    </div>
  </div>
  <br>
  <br>
  <% if ( email==idPerfil ) { %>
    <p class="historialtitle">HISTORIAL DE PASEOS: </p>
    <%# Paseos %>
    <div class="container">
      <div class="row-profile">
        <%# Renderización de paseos %>
        <% if ( email==idPerfil ) { %>
          <%# Paseos %>
          <div class="container">
          <div class="row-profile">
              <%# Renderización de paseos %>
              <% paseo.forEach((element)=>{ %>
  
                  <% if(( element.autor == email ) || ( element.paseador.email == email)){ %>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                          <div class="card1">
                          <div class="card-body">
                              <p class="card-text"><%= element.titulo %></p>
                              <p class="card-text">Precio del servicio: $<%= element.precio %>
                              </p>
                              <p class="card-text">Estado del servicio: <%= element.estado %>
                              </p>
                              <a href="#" class="boton-profile">Detalles</a>
                          </div>
                          </div>
                      </div>
                  <% } %>
                      
              <% }); %>
          </div>
          </div>
      </div>
      <% } %>
      </div>
    </div>
  </div>
  <% } %>
  <% if ( email==idPerfil ) { %>
      <a href="/v1/paseador/reporte"><button id="generate-pdf-btn">Generar reporte</button></a>
  <% } %>
<% } %>





<script>
    // Llevar "mapa" de EJS a Js Leaflet
    const perroId = "<%= perroId %>";
    //Esto saca error pero está melo, aunque me dé mucha ansiedad que esté rojito
    // Llevar el objeto "paseo" de EJS a Js Leaflet
    const mapaData = <%- JSON.stringify(paseo) %>;
</script>